* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-grid-size {
  margin-top: 10px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.clear-grid {
  margin-top: 50px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.container {
  margin-top: 20px;
  height: 512px;
  width: 512px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0);
}
